<%
    let objOrdre = {
        _id : 'asc',
        nom : 'asc',        
        prenom : 'asc',
        telephone : 'asc',
        courriel : 'asc'
    }
    
    if (typeof cle !== 'undefined'  && cle)
        {
            objOrdre[cle] = ordre
        }
%>


<table class="tableau">
    <tr>
        <th><a href="/trier/_id/<%= objOrdre._id %>">_id<i class="fas fa-<%= (objOrdre._id=='asc'?'sort-up': 'sort-down') %>"></i></a></th>
        <th><a href="/trier/nom/<%= objOrdre.nom %>"><%=__('nom') %><i class="fas fa-<%= (objOrdre.nom=='asc'?'sort-up': 'sort-down') %>"></i></a></th>
        <th><a href="/trier/prenom/<%= objOrdre.prenom %>"><%=__('prenom') %><i class="fas fa-<%= (objOrdre.prenom=='asc'?'sort-up': 'sort-down') %>"></i></a></th>        
        <th><a href="/trier/telephone/<%= objOrdre.telephone %>"><%=__('telephone') %><i class="fas fa-<%= (objOrdre.telephone=='asc'?'sort-up': 'sort-down') %>"></i></a></th>  
        <th><a href="/trier/courriel/<%= objOrdre.courriel %>"><%=__('courriel') %><i class="fas fa-<%= (objOrdre.courriel=='asc'?'sort-up': 'sort-down') %>"></i></a></th> 
        <th colspan="2"><a id="boutonAjouter"><i class="fa fa-plus" aria-hidden="true"></i></a></th>      
    </tr>
    <%  for (elm of adresses) {%>
    <tr>
        <td><%= elm._id %></td>
        <td contenteditable='true'><%= elm.nom %></td>
        <td contenteditable='true'><%= elm.prenom %></td>
        <td contenteditable='true'><%= elm.telephone %></td>                
        <td contenteditable='true'><%= elm.courriel %></td>
        <td><a class="profil" href="/profil/<%=elm._id%>"><i class="fas fa-user" aria-hidden="true"></i></a></td>    
        <td><a class="detruire"><i class="fas fa-trash-alt" aria-hidden="true"></i></a></td>
        <td><a class='modifier'><i class="far fa-save" aria-hidden="true"></i></a></td>
    </tr>
    <% } %>
</table>



<script type="text/javascript">
    function traiterRequest(e) {
        console.log("xhr.readyState = " + xhr.readyState);
        console.log("xhr.status = " + xhr.status);
        if(xhr.readyState == 4 && xhr.status == 200) {
            console.log('ajax fonctionne')
            let  maReponse = JSON.parse(xhr.responseText);
            console.log(xhr.responseText);
            console.log(maReponse._id);          
        }
    }

    function traiterRequestAjouter(e) {
        console.log("xhr.readyState = " + xhr.readyState);
        console.log("xhr.status = " + xhr.status);
        if(xhr.readyState == 4 && xhr.status == 200) {
            console.log('ajax fonctionne')
            let  maReponse = JSON.parse(xhr.responseText);
            console.log(xhr.responseText);
            console.log(maReponse._id);

            let table = document.getElementsByTagName("table")[0]
            let tr = document.createElement("tr");
            let td = new Array()
            for (let i = 0; i < 8; i++) {
                td[i] = tr.appendChild(document.createElement('td'));
            }
            td[0].innerHTML = maReponse._id;
            td[5].innerHTML = "<a class='profil' href='/profil/<%=elm._id%>'><i class='fas fa-user' aria-hidden='true'></i></a>";
            td[6].innerHTML = "<a class='detruire'><i class='fas fa-trash-alt' aria-hidden='true'></i></a>";
            td[7].innerHTML = "<a class='modifier'><i class='far fa-save' aria-hidden='true'></i></a>";
            table.appendChild(tr);
            for (let i = 0; i < 5; i++) {
                let att = document.createAttribute("contenteditable");
                att.value = "true";
                td[i].setAttributeNode(att);
            }
            ecoute();
        }  
    }

    let elmAjouter = document.getElementById("boutonAjouter");
    elmAjouter.addEventListener('click', ()=>{

        console.log('ok')
        xhr = new XMLHttpRequest();
        xhr.open('POST', "/ajouter", true);
        data = {
            /*"nom" : nom,
            "prenom" : prenom,
            "telephone" : telephone,
            "courriel" : courriel*/
        }
        sData = JSON.stringify(data);
        xhr.setRequestHeader('Content-type', 'application/json');
        xhr.send(sData);
        xhr.addEventListener("readystatechange", traiterRequestAjouter, false);
    })

    function ecoute() {
        let elmModifier = document.querySelectorAll('.modifier')
        console.log(elmModifier.length)
        for (elm of elmModifier) {
            elm.addEventListener('click', function(){
            console.log(this.parentElement.parentElement.id)
            let elmTr = this.parentElement.parentElement 
            let _id = elmTr.querySelector('td:nth-child(1)').innerHTML
            let nom = elmTr.querySelector('td:nth-child(2)').innerHTML
            let prenom = elmTr.querySelector('td:nth-child(3)').innerHTML
            let telephone = elmTr.querySelector('td:nth-child(4)').innerHTML
            let courriel = elmTr.querySelector('td:nth-child(5)').innerHTML

            xhr = new XMLHttpRequest();
            xhr.open('POST', "/modifier", true);
            data = { 
                 "nom" : nom,
                 "prenom" : prenom,
                 "telephone" : telephone,
                 "courriel" : courriel,
                 "_id" : _id 
            }
            sData = JSON.stringify(data);
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.send(sData);
            xhr.addEventListener("readystatechange", traiterRequest, false);

        })
        }

        let elmDetruire = document.querySelectorAll('.detruire')
        console.log(elmDetruire.length)
        for (elm of elmDetruire) {
            elm.addEventListener('click', function(){
            console.log(this.parentElement.parentElement.id)
            let elmTr = this.parentElement.parentElement 
            let _id = elmTr.querySelector('td:nth-child(1)').innerHTML

            xhr = new XMLHttpRequest();
            xhr.open('GET', "/detruire/" + _id, true);
            data = { 
                 "_id" : _id 
            }
            sData = JSON.stringify(data);
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.send(sData);
            xhr.addEventListener("readystatechange", traiterRequest, false);
            elmTr.remove()

            })
        }
    }
    ecoute();
</script>

